In [6]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

In [3]:
iris = load_iris()
iris_df = pd.DataFrame(data = iris.data, columns = iris.feature_names)

In [4]:
iris_df.mean()

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

In [5]:
iris_df.var()

sepal length (cm)    0.685694
sepal width (cm)     0.189979
petal length (cm)    3.116278
petal width (cm)     0.581006
dtype: float64

In [7]:
sl = iris_df['sepal length (cm)']
v = sl.var()
v2 = (v*149)/150
st = np.sqrt(v2)
scaled = (sl-sl.mean())/st
scaled[:5]

0   -0.900681
1   -1.143017
2   -1.385353
3   -1.506521
4   -1.021849
Name: sepal length (cm), dtype: float64

In [10]:
scaled.mean(), scaled.std()

(-1.4684549872375404e-15, 1.0)

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler = StandardScaler()
scaler.fit(iris_df)
scaled = scaler.transform(iris_df)
df2 = pd.DataFrame(scaled)
df2

            0         1         2         3
0   -0.900681  1.019004 -1.340227 -1.315444
1   -1.143017 -0.131979 -1.340227 -1.315444
2   -1.385353  0.328414 -1.397064 -1.315444
3   -1.506521  0.098217 -1.283389 -1.315444
4   -1.021849  1.249201 -1.340227 -1.315444
..        ...       ...       ...       ...
145  1.038005 -0.131979  0.819596  1.448832
146  0.553333 -1.282963  0.705921  0.922303
147  0.795669 -0.131979  0.819596  1.053935
148  0.432165  0.788808  0.933271  1.448832
149  0.068662 -0.131979  0.762758  0.790671

[150 rows x 4 columns]

In [11]:
sl = iris_df['sepal length (cm)']
max_sl = sl.max()
min_sl = sl.min()
scaled = (sl-min_sl)/(max_sl - min_sl)
scaled[:5]

0    0.222222
1    0.166667
2    0.111111
3    0.083333
4    0.194444
Name: sepal length (cm), dtype: float64

In [12]:
scaled.min(), scaled.max()

(0.0, 1.0)

In [13]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
scaler = MinMaxScaler()
scaler.fit(iris_df)
scaled = scaler.transform(iris_df)
df2 = pd.DataFrame(scaled)
df2

            0         1         2         3
0    0.222222  0.625000  0.067797  0.041667
1    0.166667  0.416667  0.067797  0.041667
2    0.111111  0.500000  0.050847  0.041667
3    0.083333  0.458333  0.084746  0.041667
4    0.194444  0.666667  0.067797  0.041667
..        ...       ...       ...       ...
145  0.666667  0.416667  0.711864  0.916667
146  0.555556  0.208333  0.677966  0.750000
147  0.611111  0.416667  0.711864  0.791667
148  0.527778  0.583333  0.745763  0.916667
149  0.444444  0.416667  0.694915  0.708333

[150 rows x 4 columns]